:root {
  --font-size-normal: 15px;
  --font-size-code: 13.5px;
  --font-size-side-dock: 13.5px;
  --font-size-side-dock-title: 15px;
  --font-size-status-bar: 12px;
  --font-size-h1: 22px;
  --font-size-h2: 20px;
  --font-size-h3: 18px;
  --font-size-h4: 18px;
  --font-size-h5: 16px;
  --font-size-h6: 16px;
  --font-monospace: Iosevka, monospace;
  --font-family-editor: Avenir, Avenir Next, sans-serif;
  --font-family-preview: Avenir, Avenir Next, sans-serif;
  --workspace-ribbon-size: 48px;
  --status-bar-size: 32px;
  --workspace-tab-header-size: 48px;
  --view-header-size: 48px;

  /* Color palette. */
  --base00: #263238;
  --base01: #2e3c43;
  --base02: #314549;
  --base03: #546e7a;
  --base04: #b2ccd6;
  --base05: #eeffff;
  --base06: #eeffff;
  --base07: #ffffff;
  --red: #9c383a;
  --orange: #d65d0e;
  --yellow: #d79921;
  --green: #98971a;
  --teal: #689d6a;
  --blue: #458588;
  --purple: #b16286;

  /* Gruvbox Flat */
  --gf_bg: #32302f;
  --gf_bg2: #282828;
  --gf_bg_visual: #45403d;
  --gf_border: #5a524c;
  --gf_line_cursor: #45403d;
  --gf_prompt_border: #ddc7a1;
  --gf_bg_highlight: #5a524c;
  --gf_fg: #d4be98;
  --gf_fg_light: #ddc7a1;
  --gf_fg_dark: #d4be98;
  --gf_tree_normal: #aa9987;
  --gf_comment: #7c6f64;
  --gf_fg_gutter: #5a524c;
  --gf_dark5: #5a524c;
  --gf_blue: #7daea3;
  --gf_aqua: #89b482;
  --gf_purple: #d3869b;
  --gf_orange: #e78a4e;
  --gf_yellow: #d8a657;
  --gf_yellow2: #b47109;
  --gf_bg_yellow: #a96b2c;
  --gf_green: #a9b665;
  --gf_red: #ea6962;
  --gf_red1: #c14a4a;
  --gf_black: #1d2021;

  /* 𝐄𝐯𝐞𝐫𝐟𝐨𝐫𝐞𝐬𝐭 */
  --ef_bg0: #2f383e;
  --ef_bg1: #374247;
  --ef_bg2: #404c51;
  --ef_bg3: #4a555b;
  --ef_bg4: #525c62;
  --ef_bg5: #596763;
  --ef_bg_visual: #573e4c;
  --ef_bg_red: #544247;
  --ef_bg_green: #445349;
  --ef_bg_blue: #3b5360;
  --ef_bg_yellow: #504f45;
  --ef_fg: #d3c6aa;
  --ef_red: #e67e80;
  --ef_orange: #e69875;
  --ef_yellow: #dbbc7f;
  --ef_green: #a7c080;
  --ef_aqua: #83c092;
  --ef_blue: #7fbbb3;
  --ef_purple: #d699b6;
  --ef_grey0: #7a8478;
  --ef_grey1: #859289;
  --ef_grey2: #9da9a0;
}

/*
  --text-normal: #fbf1c7;
  --text-muted: #d5c4a1;
  --text-faint: #ac9f86;
  */

.theme-light,
.theme-dark {
  --background-primary: var(--ef_bg0);
  --background-primary-alt: var(--ef_bg0);
  --background-secondary: var(--ef_bg0);
  /* --background-secondary-alt: var(--gf_blue); */
  --background-secondary-alt: transparent;
  --background-accent: #fff;
  --background-modifier-border: var(--base02);
  --background-modifier-form-field: rgba(0, 0, 0, 0.2);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.5);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: #197300; /*no sure*/
  --background-modifier-error: #9c383a; /*no sure*/
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error-hover: #9c383a;
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --opacity-translucency: 0.6;

  --text-accent: var(--ef_blue);
  --text-accent-hover: var(--ef_blue);
  --text-normal: #fbf1c7;
  --text-muted: #d5c4a1;
  --text-faint: #ac9f86;
  --text-highlight-bg: #458588;
  --text-error: #9c383a;
  --text-error-hover: #9c383a;
  --text-selection: rgba(
    89,
    75,
    95,
    0.99
  ); /* Chromium processes this color with alpha channel */
  --text-on-accent: var(--text-normal);
  --interactive-normal: var(--gf_yellow);
  --interactive-hover: var(--gf_yellow);
  --interactive-accent: var(--gf_yellow);
  --interactive-accent-rgb: 123, 108, 217;
  --interactive-accent-hover: var(--teal);
  --interactive-success: var(--gf_green);
  --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.4);
  --scrollbar-bg: rgba(0, 0, 0, 0.05);
  --scrollbar-thumb-bg: rgba(0, 0, 0, 0.2);

  --text-title-h1: var(--gf_yellow);
  --text-title-h2: var(--gf_yellow);
  --text-title-h3: var(--gf_yellow);
  --text-title-h4: var(--gf_yellow);
  --text-title-h5: var(--gf_yellow);
  --text-title-h6: var(--gf_yellow);
  --inline-code: var(--gf_yellow);
  --code-block: var(--gf_yellow);
  --pre-code-bg: rgba(0, 0, 0, 0.2);
  --blockquote-border: var(--text-accent);
  --vim-cursor: #d65d0e;
  --border-color: var(--background-secondary-alt); /*also like transparent*/
  --hover-bg: rgba(0, 0, 0, 0.5);
  --side-dock-color: var(--ef_bg0);
  --workspace-tab-header-color: var(--ef_bg0);
}
/* better use rgba color for all color var ended with `bg`*/

/* vars for Show Whitespace plugin */
/* https://github.com/deathau/cm-show-whitespace-obsidian */
/* --spaceChar
--trailingSpaceChar
--singleSpaceChar
--tabChar
--newlineChar
--strictLineBreakChar */

/***************************************/
/*  Translucency                       */
/***************************************/
body.is-translucent {
  background-color: rgba(0, 0, 0, 0);
  opacity: 1;
}
.is-translucent .workspace-split.mod-root {
  opacity: 1;
}
.is-translucent .workspace-tabs {
  opacity: 1;
}

/***************************************/
/*  App Container                      */
/***************************************/
.app-container {
  position: absolute;
  inset: 0;
}

/***************************************/
/*  Titlebar                           */
/***************************************/
.titlebar {
  background-color: var(--background-secondary-alt) !important;
}

.titlebar-button-container {
  top: 0 !important;
}

.titlebar-text {
  color: rgba(255, 255, 255, 0.25) !important;
}

/***************************************/
/*  Statusbar                          */
/***************************************/
.status-bar {
  color: var(--text-normal);
  font-size: var(--font-size-status-bar);
  background-color: var(--background-secondary-alt);
  border-top: 0px;
  max-height: var(--status-bar-size);
  line-height: var(--status-bar-size);
}

/***************************************/
/*  resize-handle and borders          */
/***************************************/

/*vertical resize-handle*/
.workspace-split.mod-vertical > * > .workspace-leaf-resize-handle,
.workspace-split.mod-left-split > .workspace-leaf-resize-handle,
.workspace-split.mod-right-split > .workspace-leaf-resize-handle {
  width: 4px !important;
  background-color: var(--border-color);
}

/*horizontal resize-handle*/
.workspace-split.mod-horizontal > * > .workspace-leaf-resize-handle {
  height: 4px !important;
  background-color: var(--border-color);
}

/*workspace ribbon when collapsed*/
.workspace-ribbon.is-collapsed {
  background-color: var(--background-secondary-alt);
}

/*the vertical split*/
.workspace-split.mod-root .workspace-split.mod-vertical .workspace-leaf-content,
.workspace-split.mod-vertical > .workspace-split,
.workspace-split.mod-vertical > .workspace-leaf,
.workspace-tabs {
  padding-right: 0px;
}

.document-search-container {
  border-top: 0px;
  border-right: 0px;
  z-index: inherit;
}

.workspace-ribbon.mod-left.is-collapsed {
  border-right: 1px solid var(--border-color);
}

.workspace-ribbon.mod-right.is-collapsed {
  border-left: 1px solid var(--border-color);
}

/*************************************/
/*                tags               */
/*************************************/
/* Tag hover in preview */
a.tag:hover {
  color: var(--text-accent) !important;
}

/* Tag Color in editor and preview*/
/* .cm-hashtag {} */
.cm-hashtag {
  font-family: var(--font-family-editor) !important;
  background-color: var(--text-accent-hover);
  border: none;
  color: white !important;
  font-size: var(--font-size-normal);
  text-align: center;
  text-decoration: none !important;
  display: inline-block;
  margin: 0px 0px;
  cursor: pointer;
}
.cm-hashtag-begin {
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  padding: 1px 1px 1px 8px;
}
.cm-hashtag-end {
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  padding: 1px 8px 1px 1px;
}

/* to customize tags */
.tag[href="#obsidian"] {
  /* .tag[href^="#obsidian"] match any tag started with "xxx"*/
  /* .tag[href="#obsidian"] exact match with "xxx"*/
  background-color: black;
  border: none;
  color: white !important;
  padding: 0px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 0px;
  /* cursor: pointer; */
  border-radius: 15px;
}

/*********************************/
/*             link              */
/*********************************/

/* link */
a,
.internal-link,
.cm-hmd-internal-link,
.cm-link,
.cm-formatting-link,
.cm-url {
  text-decoration: none !important;
}

/* the url string in editor */
.cm-s-obsidian span.cm-string {
  color: var(--text-accent-hover) !important;
}

/* make external links italics to differentiate */
a:not(.internal-link) {
  font-style: italic;
}

/*footnote*/
.cm-s-obsidian pre.HyperMD-footnote span.cm-hmd-footnote,
.cm-s-obsidian span.cm-footref {
  color: var(--text-accent) !important;
}

/***************************************/
/*                Cursor               */
/***************************************/

/* Cursor color and opacity */
.cm-fat-cursor .CodeMirror-cursor,
.cm-animate-fat-cursor {
  width: 0.5em;
  background: var(--vim-cursor);
  opacity: 60% !important;
  /* color: var(--text-accent) !important; */
}

/**************************************/
/* basic format in EDITOR and PREVIEW */
/**************************************/

/* font for everything outside of editor/preview panes */
.app-container {
  font-family: var(--font-family-preview);
}

/* set the text selection color for preview mode */
::selection {
  background-color: var(--text-selection);
}

/* normal text outside of headings and code of editor */
.cm-s-obsidian,
.mod-single-child .cm-s-obsidian {
  font-family: var(--font-family-editor);
  font-size: var(--font-size-normal);
  padding-top: 5px;
  padding-left: 1% !important;
  padding-right: 1% !important;
}

/* normal text outside of headings and code of preview */
.markdown-preview-view,
.mod-single-child .markdown-preview-view {
  font-family: var(--font-family-editor);
  font-size: var(--font-size-normal);
  padding-top: 0px;
  padding-left: 2% !important;
  padding-right: 1% !important;
}

/* bold in preview and editor */
strong,
.cm-strong {
  font-weight: 600;
}

/* emphasis in preview and editor */
em,
.cm-em {
  color: var(--text-muted);
  font-style: italic;
}

/* strikethrough in preview and editor */
s,
.cm-strikethrough {
  color: var(--text-muted);
}

/* Folding */
/* .CodeMirror-foldgutter-open {} */
/* .CodeMirror-foldgutter-open::after {
  content: "";
} */
/* .CodeMirror-foldgutter-folded {} */
/* .CodeMirror-foldgutter-folded::after {
  content: "";
} */
.CodeMirror-guttermarker-subtle {
  mix-blend-mode: screen;
  color: rgba(255, 255, 255, 0.1) !important;
}

/* list in editor */
span.cm-formatting-list {
  color: var(--text-accent) !important;
}

span.cm-formatting-list-ul {
  visibility: hidden !important;
}
span.cm-formatting-list-ul:after {
  content: "• ";
  margin-left: -12px;
  visibility: visible !important;
}

/* Tasks */
.cm-formatting-task {
  color: var(--text-accent) !important;
  font-family: var(--font-monospace);
}

/* horizontal line in preview */
.markdown-preview-view hr {
  background-color: var(--text-faint) !important;
}

/* embedded images */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* img hover zoom out img*/
img:hover {
  transform: scale(1.04);
  transition: transform 0.25s ease-in-out 0s;
}

/*disable image resize in setting pane*/
.community-theme img:hover {
  transform: none;
}

/* Changing size/color of the header hashtags ## */
.cm-formatting-header {
  font-size: 1em !important;
}

/*text between :: show same color as normal text*/
.cm-formatting-emoji {
  color: var(--text-normal) !important;
}

/* vim command dialog */
.CodeMirror-dialog {
  background-color: var(--background-secondary);
  height: 2em;
}

.CodeMirror-dialog input {
  font-family: var(--font-family-editor);
  width: 90%;
  padding-left: 1px;
}

/*********************************/
/* Headings - EDITOR and PREVIEW */
/*********************************/

/* headings for editor and preview */
.cm-header-1,
.markdown-preview-view h1 {
  font-family: var(--font-family-editor);
  font-weight: 500;
  font-size: var(--font-size-h1);
  color: var(--text-title-h1);
}

.cm-header-2,
.markdown-preview-view h2 {
  font-family: var(--font-family-editor);
  font-weight: 500;
  font-size: var(--font-size-h2);
  color: var(--text-title-h2);
}

.cm-header-3,
.markdown-preview-view h3 {
  font-family: var(--font-family-editor);
  font-weight: 500;
  font-size: var(--font-size-h3);
  color: var(--text-title-h3);
}

.cm-header-4,
.markdown-preview-view h4 {
  font-family: var(--font-family-editor);
  font-weight: 500;
  font-size: var(--font-size-h4);
  color: var(--text-title-h4);
}

.cm-header-5,
.markdown-preview-view h5 {
  font-family: var(--font-family-editor);
  font-weight: 500;
  font-size: var(--font-size-h5);
  color: var(--text-title-h5);
}

.cm-header-6,
.markdown-preview-view h6 {
  font-family: var(--font-family-editor);
  font-weight: 500;
  font-size: var(--font-size-h6);
  color: var(--text-title-h6);
}

/***************************************/
/*         Code block in  Preview      */
/***************************************/

/* code blocks in preview */
pre code {
  font-family: monaco !important;
  font-size: var(--font-size-code) !important;
  padding: 6px !important;
  line-height: normal;
  display: block;
  color: var(--code-block) !important;
}

/* padding of code blocks in preview */
.markdown-preview-view pre {
  padding: 0px !important;
}

/* font-size of in-line block for preview */
.markdown-preview-view code {
  font-size: 90%;
  line-height: 1.7;
}

/* in-line block for preview */
code {
  color: var(--inline-code) !important;
  bottom: 0px !important;
}

/* remove the shadow that typically affect light mode */
.theme-dark code[class*="language-"],
.theme-dark pre[class*="language-"],
.theme-light code[class*="language-"],
.theme-light pre[class*="language-"] {
  text-shadow: none !important;
  color: var(--text-faint) !important;
}

.theme-light code[class*="language-"],
.theme-light pre[class*="language-"] {
  background-color: var(--background-primary-alt);
}
.theme-light .token.operator,
.theme-light .token.entity,
.theme-light .token.url,
.theme-light .language-css .token.string,
.theme-light .style .token.string {
  background-color: transparent;
}

.theme-dark .token.function,
.theme-dark .token.class-name,
.theme-light .token.function,
.theme-light .token.class-name {
  color: #dd4a68;
}

.theme-light .token.comment,
.theme-light .token.prolog,
.theme-light .token.doctype,
.theme-light .token.cdata {
  color: slategray;
}
.theme-light .token.punctuation {
  color: #f8f8f2;
}
.theme-light .token.namespace {
  opacity: 0.7;
}
.theme-light .token.property,
.theme-light .token.tag,
.theme-light .token.constant,
.theme-light .token.symbol,
.theme-light .token.deleted {
  color: #f92672;
}
.theme-light .token.boolean,
.theme-light .token.number {
  color: #ae81ff;
}
.theme-light .token.selector,
.theme-light .token.attr-name,
.theme-light .token.string,
.theme-light .token.char,
.theme-light .token.builtin,
.theme-light .token.inserted {
  color: #a6e22e;
}
.theme-light .token.operator,
.theme-light .token.entity,
.theme-light .token.url,
.theme-light .language-css .token.string,
.theme-light .style .token.string,
.theme-light .token.variable {
  color: #f8f8f2;
}
.theme-light .token.atrule,
.theme-light .token.attr-value {
  color: #e6db74;
}
.theme-light .token.keyword {
  color: #66d9ef;
}
.theme-light .token.regex,
.theme-light .token.important {
  color: #fd971f;
}
.theme-light .token.important,
.theme-light .token.bold {
  font-weight: bold;
}
.theme-light .token.italic {
  font-style: italic;
}
.theme-light .token.entity {
  cursor: help;
}

/***************************************/
/*       Code block in Editor          */
/***************************************/
/* in-line block for editor */
.cm-s-obsidian span.cm-inline-code,
.cm-s-obsidian span.cm-inline-code.cm-hmd-indented-code,
.cm-s-obsidian
  span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code) {
  background-color: var(--pre-code-bg);
  color: var(--inline-code) !important;
  bottom: 0px !important;
}

/* Editor CodeBlock TEXT Appearance */
.cm-s-obsidian pre.HyperMD-codeblock {
  font-family: var(--font-monospace) !important;
  font-size: var(--font-size-code) !important;
  padding: 1px !important;
  display: block;
  color: var(--code-block) !important;
  font-weight: 500;
}

/*remove the border of codeblock in editor */
.HyperMD-codeblock-bg {
  border: 0px !important;
}

/*an active line highlight in vim normal mode 
.cm-fat-cursor .CodeMirror-activeline .CodeMirror-linebackground{
  background-color: var(--text-selection) !important;
} */

/*if you want the highlight to present in both normal and insert mode of vim*/
/* .CodeMirror-activeline .CodeMirror-linebackground {
  background-color: var(--text-selection) !important;
} */

/***************************************/
/*              Brackets               */
/***************************************/

.cm-s-obsidian span.cm-formatting-link {
  color: var(--text-accent) !important;
}

/***************************************/
/*             Blockquote              */
/***************************************/

/* for editor */
.cm-quote {
  background-color: var(--pre-code-bg);
  color: var(--text-normal) !important;
  font-style: italic;
}

/* for preview */
.markdown-preview-view blockquote {
  background-color: var(--pre-code-bg);
  border: 0px solid;
  border-color: var(--blockquote-border) !important;
  border-left-width: 4px !important;
  border-radius: 0 8px 8px 0;
  line-height: 1.5em;
  margin: 0 10px;
  font-style: italic;
}

/***************************************/
/*             table                   */
/***************************************/
th {
  font-weight: 800 !important;
}

.markdown-preview-view th {
  font-weight: 800;
  background-color: var(--background-secondary) !important;
}

thead {
  border-bottom: 3px solid var(--background-modifier-border);
}

.table {
  padding: 4px;
  line-height: normal;
  display: block;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* Editor */
.HyperMD-table-row-1 > span,
.cm-hmd-table-sep {
  color: rgb(255, 255, 255, 0.25) !important;
}

.HyperMD-table-row.HyperMD-table-row-0 {
  font-weight: bold;
}

.HyperMD-table-row.HyperMD-table-row-0 .cm-hmd-table-sep {
  font-weight: normal;
}

/***************************************/
/*               Checkbox              */
/***************************************/

.markdown-preview-view .task-list-item-checkbox:checked::before {
  content: "✓";
  position: absolute;
  color: var(--text-accent);
  font-size: 1em;
  line-height: 1.25em;
  width: 1.2em;
  text-align: center;
  text-shadow: 0 0 0.1em var(--text-accent);
}

.markdown-preview-view .task-list-item-checkbox {
  -webkit-appearance: none;
  top: 0.2em !important;
  right: 4px;
  box-sizing: border-box;
  border: 1px solid var(--text-muted);
  position: relative;
  width: 1.25em;
  height: 1.25em;
  margin: 0;
  box-shadow: 0 0 0.1em var(--text-muted);
}

.checkbox-container {
  background-color: var(--background-primary);
}

/***************************************/
/*           html in editor            */
/***************************************/

/* html tags in editor */
.cm-s-obsidian span.cm-tag {
  color: var(--inline-code) !important;
}

/* html attribute and string in editor */
.cm-s-obsidian span.cm-attribute {
  color: var(--text-normal) !important;
}

/* html comments in editor */
.cm-s-obsidian span.cm-comment {
  color: var(--text-faint) !important;
}

/***************************************/
/*              popover                */
/***************************************/
.popover {
  border: 1px solid var(--border-color);
  background-color: var(--background-secondary);
}

/***************************************/
/* Side Dock Ribbons                   */
/***************************************/
.side-dock-ribbon {
  flex: 0 0 var(--workspace-ribbon-size) !important;
}
.workspace-ribbon {
  width: var(--workspace-ribbon-size);
}
/* .workspace-split.mod-left-split {
  margin-left: var(--workspace-ribbon-size);
}
.workspace-split.mod-right-split {
  margin-right: var(--workspace-ribbon-size);
} */
.workspace-ribbon-collapse-btn {
  padding: 20px calc((var(--workspace-ribbon-size) - 16px) / 2);
}
.side-dock-ribbon-action {
  color: var(--side-dock-color);
}

/***************************************/
/*            Side panel               */
/***************************************/
/* .search-result-file-matched-text {
  color: var(--text-normal);
  background-color: var(--text-highlight-bg);
} */

/* background of search result */
.search-result {
  background-color: var(--background-primary);
  border-radius: 5px;
}

/* search result in backlink or file search */
.search-result-file-title {
  font-size: var(--font-size-side-dock-title);
}

.search-result-file-matches,
.search-empty-state {
  font-size: var(--font-size-side-dock);
}

/*decrease the spacing between result items*/
/*.search-result-file-title,*/
.search-result-file-match {
  padding: 0px 10px;
}

.nav-file-title,
.nav-folder-title {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.nav-file.is-active > .nav-file-title {
  background-color: var(--hover-bg) !important;
}
/* .nav-file-title:hover, .nav-folder-title:hover {
  background-color: var(--hover-bg) !important;
} */

/*backlink pane*/
.workspace-leaf-content[data-type="backlink"] .view-content {
  background-color: var(--background-secondary);
}

.workspace-leaf-content[data-type="tag"] .tag-pane-tag-count,
.workspace-leaf-content[data-type="tag"] .tag-pane-tag-text {
  font-size: var(--font-size-side-dock);
}

.workspace-leaf-content[data-type="backlink"] .search-result-file-matches {
  font-size: var(--font-size-side-dock);
}
/***************************************/
/* internal embedded link in preview   */
/***************************************/

/* Naked Embeds */
.markdown-embed-title {
  display: none;
}
.markdown-preview-view .markdown-embed-content > :first-child {
  margin-top: 0;
}
.markdown-preview-view .markdown-embed-content > :last-child {
  margin-bottom: 0;
}
/* remove the first heading
.markdown-preview-view .markdown-embed-content>:first-child { display:none;}*/
/*remove the following two line, you will get border and scroll*/
.markdown-preview-view .markdown-embed {
  border: none;
  padding: 0;
  margin: 0;
}
.markdown-preview-view .markdown-embed-content {
  max-height: unset;
  background-color: var(--background-secondary);
}

/* the link on the top right corner*/
.markdown-embed-link {
  color: var(--text-faint) !important;
}

.markdown-embed-link:hover {
  color: var(--text-accent) !important;
}

/***************************************/
/*             graph view              */
/***************************************/
.graph-view.color-circle,
.graph-view.color-fill-highlight,
.graph-view.color-line-highlight {
  color: var(--text-accent) !important;
}

.graph-view.color-text {
  color: var(--text-normal) !important;
}

.graph-view.color-line {
  color: var(--text-accent-hover);
}

.graph-view.color-fill {
  color: var(--text-muted);
}

.workspace-leaf-content[data-type="graph"] .view-content {
  background-color: var(--background-primary);
}

/***************************************/
/*            settings                 */
/***************************************/

.modal.mod-settings button:not(.mod-cta):hover {
  background-color: var(--interactive-accent-hover);
}

/***************************************/
/*           width of content          */
/***************************************/

.markdown-source-view.is-readable-line-width .CodeMirror,
.markdown-preview-view.is-readable-line-width .markdown-preview-section {
  max-width: 42vmax; /* 1vmax = 1% of the larger dimension*/
  margin-left: auto;
  margin-right: auto;
}

/**************************************/
/*  Workspace Tab Header              */
/**************************************/
.workspace-tab-header-container {
  height: var(--workspace-tab-header-size) !important;
  /* padding-top: calc((var(--workspace-tab-header-size) - 24px)) !important; */
}

.workspace-tab-header {
  color: var(--workspace-tab-header-color);
}

.workspace-tab-header.is-active {
  background-color: transparent !important;
  border-bottom: 3px solid var(--interactive-accent) !important;
  color: var(--text-normal);
}
.workspace-tab-header.is-before-active,
.workspace-tab-header.is-after-active,
.workspace-tab-container-after.is-after-active {
  background-color: transparent !important;
}

.workspace-tab-header-inner {
  padding: calc((var(--workspace-tab-header-size) - 36px)) 12px !important;
}

/**************************************/
/*  note header bar                   */
/**************************************/

/* header */
.view-header {
  height: var(--view-header-size) !important;
  background-color: var(--background-secondary-alt) !important;
  border-top: 1px solid var(--border-color) !important;
  border-bottom: 1px solid var(--border-color) !important;
}

.view-header-title-container {
  height: var(--view-header-size) !important;
  line-height: var(--view-header-size) !important;
}

.view-header-title {
  line-height: var(--view-header-size) !important;
}

.view-header-icon,
.view-actions {
  padding: calc((var(--view-header-size) - 24px) / 2) 10px !important;
}

.view-action:hover,
.view-action.is-active {
  color: var(--text-normal);
}

.view-header-title-container:after {
  background: linear-gradient(
    to right,
    transparent,
    var(--background-secondary-alt)
  ) !important;
  top: 0;
  right: 0;
  bottom: 3px;
  height: auto !important;
}

.workspace-leaf.mod-active .view-header {
  background-color: var(--background-secondary-alt) !important;
  border-top: 0px !important;
  border-bottom: 3px solid var(--interactive-accent) !important;
}

.workspace-leaf.mod-active .view-header-title-container:after {
  background: linear-gradient(
    to right,
    transparent,
    var(--background-secondary-alt)
  ) !important;
}

.workspace-leaf.mod-active .view-header-title,
.workspace-leaf.mod-active .view-header-icon {
  color: var(--text-normal);
}

.view-header-title,
.view-header-icon,
.view-action {
  color: var(--workspace-tab-header-color);
}

/***************************************/
/*    at a rule line before ul list    */
/***************************************/

ul ul {
  position: relative;
}
ul ul::before {
  content: "";
  border-left: 1px solid var(--border-color);
  position: absolute;
}
ul ul::before {
  left: -1em;
  top: 0;
  bottom: 0;
}

/* rule line when there are checkboxes*/
ul .task-list-item ul::before {
  left: 0.15em !important;
}

/* no good idea yet
.cm-hmd-list-indent .cm-tab, ul ul { position: relative; }
.cm-hmd-list-indent .cm-tab::before, ul ul::before {
  content:;
  border-left: 1px solid var(--border-color);
  position: absolute;
}
.cm-hmd-list-indent .cm-tab::before { left: 0.5em; top: -5px; bottom: -4px; }
ul ul::before { left: -1em; top: 0; bottom: 0; }
*/

.cm-hmd-list-indent .cm-tab::before {
  content: " ";
  border-left: 2px solid rgba(255, 255, 255, 0.05);
  position: absolute;
  height: 100%;
}

/***************************************/
/* Hide Scrollbar (recommend for mac)  */
/***************************************/
/* Hide scrollbar in preview, search, file, tag, backlinks, outline */
.markdown-preview-view::-webkit-scrollbar,
.workspace-leaf-content::-webkit-scrollbar,
.workspace-leaf-content[data-type="backlink"] .view-content::-webkit-scrollbar,
.workspace-leaf-content[data-type="outline"] .view-content::-webkit-scrollbar {
  display: none !important;
}
/* Hide scrollbar for editor*/
.CodeMirror-vscrollbar {
  display: none !important;
}

/* disable the scrollbar for search pane */
.search-result-container::-webkit-scrollbar,
.nav-files-container::-webkit-scrollbar,
.tag-pane-tags::-webkit-scrollbar {
  display: none !important;
}

/*disable the scrollbar for main-container */
.theme-light .horizontal-main-container ::-webkit-scrollbar {
  display: none !important;
}

/***************************************/
/*             Tooltip                 */
/***************************************/
.tooltip {
  background-color: white;
  color: var(--background-primary);
}
.tooltip .tooltip-arrow {
  border-bottom-color: white !important;
}
.tooltip.mod-right .tooltip-arrow {
  border-right-color: white !important;
  border-bottom-color: transparent !important;
}
.tooltip.mod-left .tooltip-arrow {
  border-left-color: white !important;
  border-bottom-color: transparent !important;
}

.collapse-icon {
  color: var(--text-accent);
}

/***************************************/
/*             Suggestion              */
/***************************************/
.suggestion-item.is-selected {
  background-color: rgba(255, 255, 255, 0.1);
}

/***************************************/
/* Modals                              */
/***************************************/
.modal {
  border: none;
}

/***************************************/
/* Vertical Tabs                       */
/***************************************/
.vertical-tabs-container {
}
.vertical-tabs-container .vertical-tab-header {
}
.vertical-tabs-container .vertical-tab-header .vertical-tab-header-group {
}
.vertical-tab-header-group-title {
}
.vertical-tab-header-group-items {
}
.horizontal-tab-nav-item,
.vertical-tab-nav-item {
  background-color: transparent;
}
.vertical-tab-nav-item.is-active {
}
.vertical-tabs-container .vertical-tab-content-container {
}
.vertical-tabs-container .vertical-tab-content-container .vertical-tab-content {
}



/***************************************/
/*  Workspace                          */
/***************************************/
/* Gaps between workspaces. */
.mod-left-split {
  padding: 0  8px 0 0;
}
.workspace-leaf {
  padding: 0 8px 0 0;
}
.mod-right-split .workspace-leaf {
  padding: 0;
}

/***************************************/
/* Icons                               */
/***************************************/
:root {
  --icon-purple-filter: invert(79%) sepia(34%) saturate(5757%)
    hue-rotate(211deg) brightness(98%) contrast(99%);
  --icon-orange-filter: invert(84%) sepia(58%) saturate(2935%)
    hue-rotate(309deg) brightness(93%) contrast(92%);
}

/* clear all icons */
/* .workspace-tab-header-inner-icon path,
.nav-action-button path,
.menu-item-icon path,
.view-header-icon path,
.nav-file-icon path,
.view-action path,
.workspace-ribbon-collapse-btn path, */
.side-dock-ribbon-action path {
  display: none;
}

/* Side Dock */
.side-dock-ribbon-action .templater-icon {
  /* filter: var(--icon-purple-filter); */
  background: no-repeat
    url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="rectangle-list" class="svg-inline--fa fa-rectangle-list fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M512 32H64C28.65 32 0 60.65 0 96v320c0 35.35 28.65 64 64 64h448c35.35 0 64-28.65 64-64V96C576 60.65 547.3 32 512 32zM128 384c-17.7 0-32-14.3-32-32c0-17.7 14.3-32 32-32s32 14.3 32 32C160 369.7 145.7 384 128 384zM128 288C110.3 288 96 273.7 96 256c0-17.7 14.3-32 32-32s32 14.3 32 32C160 273.7 145.7 288 128 288zM128 192C110.3 192 96 177.7 96 160c0-17.7 14.3-32 32-32s32 14.3 32 32C160 177.7 145.7 192 128 192zM480 352c0 13.25-10.75 24-24 24H215.1C202.7 376 192 365.3 192 352s10.75-24 23.1-24H456C469.3 328 480 338.7 480 352zM480 255.1C480 269.3 469.3 280 456 280H215.1C202.7 280 192 269.3 192 256c0-13.25 10.75-24 23.1-24H456C469.3 232 480 242.7 480 255.1zM480 159.1C480 173.3 469.3 184 456 184H215.1C202.7 184 192 173.3 192 160C192 146.7 202.7 136 215.1 136H456C469.3 136 480 146.7 480 159.1z"></path></svg>');
}
.side-dock-ribbon-action .go-to-file {
  background: no-repeat
    url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="file-import" class="svg-inline--fa fa-file-import fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M384 0v128h128L384 0zM352 128L352 0H176C149.5 0 128 21.49 128 48V288h174.1l-39.03-39.03c-9.375-9.375-9.375-24.56 0-33.94s24.56-9.375 33.94 0l80 80c9.375 9.375 9.375 24.56 0 33.94l-80 80c-9.375 9.375-24.56 9.375-33.94 0C258.3 404.3 256 398.2 256 392s2.344-12.28 7.031-16.97L302.1 336H128v128C128 490.5 149.5 512 176 512h288c26.51 0 48-21.49 48-48V160h-127.1C366.3 160 352 145.7 352 128zM24 288C10.75 288 0 298.7 0 312c0 13.25 10.75 24 24 24H128V288H24z"></path></svg>');
}
.side-dock-ribbon-action .dot-network {
  background: no-repeat
    url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-network" class="svg-inline--fa fa-chart-network fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M119.1 272C107.1 252.1 87.55 240 64 240c-35.25 0-64 28.75-64 64s28.75 64 64 64c23.55 0 43.96-12.97 55.08-32h60.15C177.1 325.7 176 314.1 176 304s1.127-21.66 3.229-32H119.1zM576 192c35.25 0 64-28.75 64-64s-28.75-64-64-64s-64 28.75-64 64S540.8 192 576 192zM576 384c-11.19 0-21.66 3.094-30.78 8.213l-86.1-52.2C461.6 328.5 464 316.6 464 304c0-16.77-3.436-32.68-9.301-47.36l67.3-49.36c-17.94-12.26-31.13-30.59-37.53-51.86l-67.96 49.84C394.5 187.3 366.7 176 336 176c-7.988 0-15.74 .9492-23.32 2.352L276.3 100.3C283.5 89.98 288 77.54 288 64c0-35.25-28.75-64-64-64S160 28.75 160 64c0 33.29 25.73 60.47 58.28 63.42l36.57 78.36C226.5 229.3 208 264.3 208 304c0 70.67 57.33 128 128 128c34.97 0 66.61-14.11 89.71-36.85l86.39 51.83C512.1 447.3 512 447.7 512 448c0 35.25 28.75 64 64 64S640 483.3 640 448S611.3 384 576 384zM336 352C309.5 352 288 330.5 288 304S309.5 256 336 256S384 277.5 384 304S362.5 352 336 352z"></path></svg>');
}
.side-dock-ribbon-action .calendar-with-checkmark {
  background: no-repeat
    url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="calendar-check" class="svg-inline--fa fa-calendar-check fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M448 112V160H0V112C0 85.49 21.49 64 48 64H96V31.1C96 14.4 110.4 0 128 0s32 14.4 32 31.1V64h128V31.1C288 14.4 302.4 0 320 0s32 14.4 32 31.1V64h48C426.5 64 448 85.49 448 112zM0 192h448v272c0 26.5-21.5 48-48 48h-352C21.5 512 0 490.5 0 464V192zM135 376.1l48 48c4.5 4.5 10.62 7.031 16.97 7.031c.3125 0 .625 0 .9062-.0313c6.688-.25 12.97-3.281 17.31-8.344l96-112c8.625-10.06 7.469-25.22-2.594-33.84c-10.03-8.594-25.19-7.469-33.84 2.594l-79.13 92.34l-29.69-29.69c-9.375-9.375-24.56-9.375-33.94 0S125.7 367.6 135 376.1z"></path></svg>');
}
.side-dock-ribbon-action .run-command {
  background: no-repeat
    url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="terminal" class="svg-inline--fa fa-terminal fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M256 256c0-8.188-3.125-16.38-9.375-22.62l-192-192C48.38 35.13 40.19 32 32 32C14.95 32 0 45.73 0 64c0 8.188 3.125 16.38 9.375 22.62L178.8 256l-169.4 169.4C3.125 431.6 0 439.8 0 448c0 18.28 14.95 32 32 32c8.188 0 16.38-3.125 22.62-9.375l192-192C252.9 272.4 256 264.2 256 256zM544 416H256c-17.67 0-32 14.31-32 32s14.33 32 32 32h288c17.67 0 32-14.31 32-32S561.7 416 544 416z"></path></svg>');
}
.side-dock-ribbon-action .pane-layout {
  background: no-repeat
    url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="table-layout" class="svg-inline--fa fa-table-layout fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M448 32H64C28.65 32 0 60.65 0 96v320c0 35.35 28.65 64 64 64h384c35.35 0 64-28.65 64-64V96C512 60.65 483.3 32 448 32zM128 416H64V224h64V416zM448 416H192V224h256V416zM448 160H64V96h384V160z"></path></svg>');
}
.side-dock-ribbon-action .calendar-week {
  background: no-repeat
    url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="calendar-week" class="svg-inline--fa fa-calendar-week fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M400 64H352V31.1C352 14.4 337.6 0 320 0C302.4 0 288 14.4 288 31.1V64H160V31.1C160 14.4 145.6 0 128 0S96 14.4 96 31.1V64H48c-26.51 0-48 21.49-48 48L0 160h448l.0002-48C448 85.49 426.5 64 400 64zM.0002 464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48L448 192H0L.0002 464zM64 272C64 263.3 71.25 256 80 256h288C376.8 256 384 263.3 384 272v64c0 8.75-7.25 16-15.1 16h-288C71.25 352 64 344.8 64 336V272z"></path></svg>');
}

.side-dock-ribbon-action .vault {
  /* filter: var(--icon-purple-filter); */
  background: no-repeat
    url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="vault" class="svg-inline--fa fa-vault fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M224 320c-44.18 0-80-35.82-80-80S179.8 160 224 160s80 35.82 80 80S268.2 320 224 320zM512 0H64C28.65 0 0 28.65 0 64v352c0 35.35 28.65 64 64 64h16L96 512h64l16-32h224l16 32h64l16-32H512c35.35 0 64-28.65 64-64V64C576 28.65 547.3 0 512 0zM224 400c-88.37 0-160-71.63-160-160s71.63-160 160-160s160 71.63 160 160S312.4 400 224 400zM480 221.1V336c0 8.844-7.156 16-16 16S448 344.8 448 336V221.1C429.4 214.4 416 196.9 416 176C416 149.5 437.5 128 464 128S512 149.5 512 176C512 196.9 498.6 214.4 480 221.1z"></path></svg>');
}
.side-dock-ribbon-action .help {
  background: no-repeat
    url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle-question" class="svg-inline--fa fa-circle-question fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 400c-18 0-32-14-32-32s13.1-32 32-32c17.1 0 32 14 32 32S273.1 400 256 400zM325.1 258L280 286V288c0 13-11 24-24 24S232 301 232 288V272c0-8 4-16 12-21l57-34C308 213 312 206 312 198C312 186 301.1 176 289.1 176h-51.1C225.1 176 216 186 216 198c0 13-11 24-24 24s-24-11-24-24C168 159 199 128 237.1 128h51.1C329 128 360 159 360 198C360 222 347 245 325.1 258z"></path></svg>');
}
.side-dock-ribbon-action .gear {
  background: no-repeat
    url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="gear" class="svg-inline--fa fa-gear fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M499.5 332c0-5.66-3.112-11.13-8.203-14.07l-46.61-26.91C446.8 279.6 448 267.1 448 256s-1.242-23.65-3.34-35.02l46.61-26.91c5.092-2.941 8.203-8.411 8.203-14.07c0-14.1-41.98-99.04-63.86-99.04c-2.832 0-5.688 .7266-8.246 2.203l-46.72 26.98C362.9 94.98 342.4 83.1 320 75.16V21.28c0-7.523-5.162-14.28-12.53-15.82C290.8 1.977 273.7 0 256 0s-34.85 1.977-51.48 5.461C197.2 7.004 192 13.76 192 21.28v53.88C169.6 83.1 149.1 94.98 131.4 110.1L84.63 83.16C82.08 81.68 79.22 80.95 76.39 80.95c-19.72 0-63.86 81.95-63.86 99.04c0 5.66 3.112 11.13 8.203 14.07l46.61 26.91C65.24 232.4 64 244 64 256s1.242 23.65 3.34 35.02l-46.61 26.91c-5.092 2.941-8.203 8.411-8.203 14.07c0 14.1 41.98 99.04 63.86 99.04c2.832 0 5.688-.7266 8.246-2.203l46.72-26.98C149.1 417 169.6 428.9 192 436.8v53.88c0 7.523 5.162 14.28 12.53 15.82C221.2 510 238.3 512 255.1 512s34.85-1.977 51.48-5.461C314.8 504.1 320 498.2 320 490.7v-53.88c22.42-7.938 42.93-19.82 60.65-34.97l46.72 26.98c2.557 1.477 5.416 2.203 8.246 2.203C455.3 431 499.5 349.1 499.5 332zM256 336c-44.11 0-80-35.89-80-80S211.9 176 256 176s80 35.89 80 80S300.1 336 256 336z"></path></svg>');
}