@import '110_colors.css';
@import '120_fonts.css';
@import '130_vars.css';
@import '140_theme.css';

/***************************************/
/*  Translucency                       */
/***************************************/
body.is-translucent {
  background-color: rgba(0, 0, 0, 0);
  opacity: 1;

  & .workspace-ribbon,
  & .workspace-split.mod-root,
  & .workspace-tabs,
  & .status-bar {
    opacity: 1;
  }
}

/*************************************/
/*                tags               */
/*************************************/
/* Tag hover in preview */
a.tag:hover {
  color: var(--text-accent) !important;
}

/* Tag Color in editor and preview*/
/* .cm-hashtag {} */
.cm-hashtag {
  font-family: var(--font-family-editor) !important;
  background-color: var(--text-accent-hover);
  border: none;
  color: white !important;
  font-size: var(--font-size-normal);
  text-align: center;
  text-decoration: none !important;
  display: inline-block;
  margin: 0px 0px;
  cursor: pointer;
}
.cm-hashtag-begin {
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  padding: 1px 1px 1px 8px;
}
.cm-hashtag-end {
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  padding: 1px 8px 1px 1px;
}

/* to customize tags */
.tag[href='#obsidian'] {
  /* .tag[href^="#obsidian"] match any tag started with "xxx"*/
  /* .tag[href="#obsidian"] exact match with "xxx"*/
  background-color: black;
  border: none;
  color: white !important;
  padding: 0px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 0px;
  /* cursor: pointer; */
  border-radius: 15px;
}

/*********************************/
/*             link              */
/*********************************/

/* link */
a,
.internal-link,
.cm-hmd-internal-link,
.cm-link,
.cm-formatting-link,
.cm-url {
  text-decoration: none !important;
}

/* the url string in editor */
.cm-s-obsidian span.cm-string {
  color: var(--text-accent-hover) !important;
}

/* make external links italics to differentiate */
a:not(.internal-link) {
  font-style: italic;
}

/*footnote*/
.cm-s-obsidian pre.HyperMD-footnote span.cm-hmd-footnote,
.cm-s-obsidian span.cm-footref {
  color: var(--text-accent) !important;
}

/***************************************/
/*                Cursor               */
/***************************************/

/* Cursor color and opacity */
.cm-fat-cursor .CodeMirror-cursor,
.cm-animate-fat-cursor {
  width: 0.5em;
  background: var(--vim-cursor);
  opacity: 60% !important;
  /* color: var(--text-accent) !important; */
}

/***************************************/
/*              popover                */
/***************************************/
.popover {
  border: 1px solid var(--border-color);
  background-color: var(--background-secondary);
}

/***************************************/
/* internal embedded link in preview   */
/***************************************/

/* Naked Embeds */
.markdown-embed-title {
  display: none;
}
.markdown-preview-view .markdown-embed-content > :first-child {
  margin-top: 0;
}
.markdown-preview-view .markdown-embed-content > :last-child {
  margin-bottom: 0;
}
/* remove the first heading
.markdown-preview-view .markdown-embed-content>:first-child { display:none;}*/
/*remove the following two line, you will get border and scroll*/
.markdown-preview-view .markdown-embed {
  border: none;
  padding: 0;
  margin: 0;
}
.markdown-preview-view .markdown-embed-content {
  max-height: unset;
  background-color: var(--background-secondary);
}

/* the link on the top right corner*/
.markdown-embed-link {
  color: var(--text-faint) !important;
}

.markdown-embed-link:hover {
  color: var(--text-accent) !important;
}

/***************************************/
/*             graph view              */
/***************************************/
.graph-view.color-circle,
.graph-view.color-fill-highlight,
.graph-view.color-line-highlight {
  color: var(--text-accent) !important;
}

.graph-view.color-text {
  color: var(--text-normal) !important;
}

.graph-view.color-line {
  color: var(--text-accent-hover);
}

.graph-view.color-fill {
  color: var(--text-muted);
}

.workspace-leaf-content[data-type='graph'] .view-content {
  background-color: var(--background-primary);
}

/***************************************/
/*            settings                 */
/***************************************/

.modal.mod-settings button:not(.mod-cta):hover {
  background-color: var(--interactive-accent-hover);
}

/***************************************/
/*           width of content          */
/***************************************/

.markdown-source-view.is-readable-line-width .CodeMirror,
.markdown-preview-view.is-readable-line-width .markdown-preview-section {
  max-width: 42vmax; /* 1vmax = 1% of the larger dimension*/
  margin-left: auto;
  margin-right: auto;
}

/***************************************/
/*    at a rule line before ul list    */
/***************************************/

ul ul {
  position: relative;
}
ul ul::before {
  content: '';
  border-left: 1px solid var(--border-color);
  position: absolute;
}
ul ul::before {
  left: -1em;
  top: 0;
  bottom: 0;
}

/* rule line when there are checkboxes*/
ul .task-list-item ul::before {
  left: 0.15em !important;
}

/* no good idea yet
.cm-hmd-list-indent .cm-tab, ul ul { position: relative; }
.cm-hmd-list-indent .cm-tab::before, ul ul::before {
  content:;
  border-left: 1px solid var(--border-color);
  position: absolute;
}
.cm-hmd-list-indent .cm-tab::before { left: 0.5em; top: -5px; bottom: -4px; }
ul ul::before { left: -1em; top: 0; bottom: 0; }
*/

.cm-hmd-list-indent .cm-tab::before {
  content: ' ';
  border-left: 2px solid rgba(255, 255, 255, 0.05);
  position: absolute;
  height: 100%;
}

/***************************************/
/* Hide Scrollbar (recommend for mac)  */
/***************************************/
/* Hide scrollbar in preview, search, file, tag, backlinks, outline */
.markdown-preview-view::-webkit-scrollbar,
.workspace-leaf-content::-webkit-scrollbar,
.workspace-leaf-content[data-type='backlink'] .view-content::-webkit-scrollbar,
.workspace-leaf-content[data-type='outline'] .view-content::-webkit-scrollbar {
  display: none !important;
}
/* Hide scrollbar for editor*/
.CodeMirror-vscrollbar {
  display: none !important;
}

/* disable the scrollbar for search pane */
.search-result-container::-webkit-scrollbar,
.nav-files-container::-webkit-scrollbar,
.tag-pane-tags::-webkit-scrollbar {
  display: none !important;
}

/*disable the scrollbar for main-container */
.theme-light .horizontal-main-container ::-webkit-scrollbar {
  display: none !important;
}

.collapse-icon {
  color: var(--text-accent);
}

/***************************************/
/*             Suggestion              */
/***************************************/
.suggestion-item.is-selected {
  background-color: rgba(255, 255, 255, 0.1);
}
