:root {
  /* 𝐄𝐯𝐞𝐫𝐟𝐨𝐫𝐞𝐬𝐭 */
  --ef_bg0: #2f383e;
  --ef_bg1: #374247;
  --ef_bg2: #404c51;
  --ef_bg3: #4a555b;
  --ef_bg4: #525c62;
  --ef_bg5: #596763;
  --ef_bg_visual: #573e4c;
  --ef_bg_red: #544247;
  --ef_bg_green: #445349;
  --ef_bg_blue: #3b5360;
  --ef_bg_yellow: #504f45;
  --ef_fg: #d3c6aa;
  --ef_red: #e67e80;
  --ef_orange: #e69875;
  --ef_yellow: #dbbc7f;
  --ef_green: #a7c080;
  --ef_aqua: #83c092;
  --ef_blue: #7fbbb3;
  --ef_purple: #d699b6;
  --ef_grey0: #7a8478;
  --ef_grey1: #859289;
  --ef_grey2: #9da9a0;

  /*
  --text-normal: #fbf1c7;
  --text-muted: #d5c4a1;
  --text-faint: #ac9f86;
  */
}
