/* Additional variables. */
:root {
  --font-size-normal: 15px;
  --font-size-code: 13.5px;
  --font-size-side-dock: 13.5px;
  --font-size-side-dock-title: 15px;
  --font-size-status-bar: 12px;
  --font-size-h1: 22px;
  --font-size-h2: 20px;
  --font-size-h3: 18px;
  --font-size-h4: 18px;
  --font-size-h5: 16px;
  --font-size-h6: 16px;

  /* Interface font */
  --font-family: Avenir, Avenir Next, sans-serif;

  --font-monospace: Iosevka, monospace;
  --font-family-editor: Avenir, Avenir Next, sans-serif;
  --font-family-preview: Avenir, Avenir Next, sans-serif;

  /* Header, ribbons, statusbar. */
  --surround-size: 56px;

  --workspace-ribbon-size: var(--surround-size);
  --status-bar-size: var(--surround-size);
  --workspace-header-size: 48px;
}
