@import '210_titlebar.css';
@import '220_statusbar.css';
@import '230_workspace.css';

/***************************************/
/*  App Container                      */
/***************************************/
body:not(.is-mobile) .app-container {
  position: absolute;
  inset: 0;
}
.app-container {
  background-color: var(--surround-bg);
}

/***************************************/
/* Side Dock Ribbons                   */
/***************************************/
.side-dock-ribbon {
  flex: 0 0 var(--surround-size) !important;
}
.workspace-ribbon {
  width: var(--surround-size);
  -webkit-app-region: drag;
}
/* .workspace-split.mod-left-split {
  margin-left: var(--workspace-ribbon-size);
}
.workspace-split.mod-right-split {
  margin-right: var(--workspace-ribbon-size);
} */
.workspace-ribbon-collapse-btn {
  padding: 20px calc((var(--surround-size) - 16px) / 2);
}
.side-dock-ribbon-action {
  color: var(--side-dock-color);
}

/***************************************/
/*            Side panel               */
/***************************************/
/* Rounded corners. */
.workspace-split.mod-left-split .workspace-tabs .workspace-leaf {
  border-radius: 8px 0 0 8px;
}
.workspace-split.mod-right-split .workspace-tabs .workspace-leaf {
  border-radius: 0 8px 8px 0;
}

/* .search-result-file-matched-text {
  color: var(--text-normal);
  background-color: var(--text-highlight-bg);
} */

/* background of search result */
.search-result {
  background-color: var(--background-primary);
  border-radius: 5px;
}

/* search result in backlink or file search */
.search-result-file-title {
  font-size: var(--font-size-side-dock-title);
}

.search-result-file-matches,
.search-empty-state {
  font-size: var(--font-size-side-dock);
}

/*decrease the spacing between result items*/
/*.search-result-file-title,*/
.search-result-file-match {
  padding: 0px 10px;
}

.nav-file-title,
.nav-folder-title {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.nav-file.is-active > .nav-file-title {
  background-color: var(--hover-bg) !important;
}
/* .nav-file-title:hover, .nav-folder-title:hover {
  background-color: var(--hover-bg) !important;
} */

/*backlink pane*/
.workspace-leaf-content[data-type='backlink'] .view-content {
  background-color: var(--background-secondary);
}

.workspace-leaf-content[data-type='tag'] .tag-pane-tag-count,
.workspace-leaf-content[data-type='tag'] .tag-pane-tag-text {
  font-size: var(--font-size-side-dock);
}

.workspace-leaf-content[data-type='backlink'] .search-result-file-matches {
  font-size: var(--font-size-side-dock);
}

/***************************************/
/* Modals                              */
/***************************************/
.modal {
  border: none;
}

/***************************************/
/* Vertical Tabs                       */
/***************************************/
.vertical-tabs-container {
  & .vertical-tab-header {
    flex: 0 0 240px;

    & .vertical-tab-header-group {
      & .vertical-tab-header-group-title {
      }
      & .vertical-tab-header-group-items {
        & .vertical-tab-nav-item {
          background-color: transparent;
          font-size: 14px;
          font-weight: 300;
          padding: 4px 6px 4px 24px;

          &.is-active {
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
  & .vertical-tab-content-container {
    & .vertical-tab-content {
    }
  }
}

/***************************************/
/*             Tooltip                 */
/***************************************/
.tooltip {
  background-color: white;
  color: var(--background-primary);
}
.tooltip .tooltip-arrow {
  border-bottom-color: white !important;
}
.tooltip.mod-right .tooltip-arrow {
  border-right-color: white !important;
  border-bottom-color: transparent !important;
}
.tooltip.mod-left .tooltip-arrow {
  border-left-color: white !important;
  border-bottom-color: transparent !important;
}

/***************************************/
/*  resize-handle and borders          */
/***************************************/
/*vertical resize-handle*/
.workspace-split.mod-vertical > * > .workspace-leaf-resize-handle,
.workspace-split.mod-left-split > .workspace-leaf-resize-handle,
.workspace-split.mod-right-split > .workspace-leaf-resize-handle {
  width: 4px !important;
  background-color: var(--surround-bg);
}

/*horizontal resize-handle*/
.workspace-split.mod-horizontal > * > .workspace-leaf-resize-handle {
  height: 4px !important;
  background-color: var(--surround-bg);
}

/*workspace ribbon when collapsed*/
.workspace-ribbon.is-collapsed {
  background-color: transparent;
}

/*the vertical split*/
.workspace-split.mod-root .workspace-split.mod-vertical .workspace-leaf-content,
.workspace-split.mod-vertical > .workspace-split,
.workspace-split.mod-vertical > .workspace-leaf,
.workspace-tabs {
  padding-right: 0px;
}

.document-search-container {
  border-top: 0px;
  border-right: 0px;
  z-index: inherit;
}

.workspace-ribbon.mod-left.is-collapsed {
  border-right: 1px solid var(--border-color);
}

.workspace-ribbon.mod-right.is-collapsed {
  border-left: 1px solid var(--border-color);
}

/***************************************/
/*  workspace-ribbon                   */
/***************************************/
.workspace-ribbon-collapse-btn {
  color: var(--surround-muted);

  &:hover {
    color: var(--surround-hover);
  }
}

.side-dock-ribbon-tab,
.side-dock-ribbon-action {
  color: var(--surround-normal);

  &:hover {
    color: var(--surround-hover);
  }
}

/***************************************/
/*  Suggestion                         */
/***************************************/
.suggestion-container {
  & .suggestion {
    & .suggestion-item {
      font-size: 0.9rem;

      &.mod-group {
        font-size: 0.8rem;
      }

      &.is-selected {
        /* background-color: var(--background-modifier-form-field); */
      }

      &:not(.mod-group):hover {
        background-color: var(--background-modifier-form-field);
      }
    }
  }
}

/***************************************/
/*  Menu                               */
/***************************************/
.menu {
  & .menu-item {
    font-size: 0.8rem;
    font-weight: 300;

    &:hover:not(.is-disabled):not(.is-label) {
      background-color: var(--background-modifier-form-field);
    }
  }
}

/***************************************/
/*  Forms                              */
/***************************************/
.dropdown {
  font-size: 14px;
  font-family: var(--font-family);
  border-color: transparent;
  /* Color is in fill attribute */
  background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23FFFFFF33%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E);
}
input[type='text'],
input[type='search'],
input[type='email'],
input[type='password'],
input[type='number'] {
  font-size: 14px;
  font-family: var(--font-family);
  border-color: transparent;
}
.checkbox-container {
  background-color: var(--background-modifier-form-field);
}
