.titlebar {
  background-color: var(--surround-bg) !important;
  height: var(--titlebar-size) !important;
  padding: 0;
}

.titlebar-button-container {
  /* top: 0 !important; */
}

.titlebar-text {
  color: rgba(255, 255, 255, 0.25) !important;
}
