.status-bar {
  color: var(--surround-normal);
  font-size: var(--font-size-status-bar);
  background-color: var(--surround-bg);
  border-top: 0px;
  max-height: var(--status-bar-size);
  line-height: var(--status-bar-size);
  -webkit-app-region: drag;
  border-top: none;
}

/* The default app.css sets a margin when translucent. */
/* Unsure why, but it breaks the draggability in the corners. */
/* Instead, pad it by the ribbon width. */
body.is-translucent {
  & .status-bar {
    margin: 0;
    padding: 0 var(--workspace-ribbon-size);
    border-top: none;
  }
}
