/**************************************/
/*  workspace-leaves                  */
/**************************************/
.workspace-leaf {
  & .workspace-leaf-content {
  }
}

/* Gaps between workspaces. */
.mod-left-split {
  padding: 0 var(--workspace-leaf-gap) 0 0;
}
.workspace-tabs {
  & .workspace-leaf {
    margin-top: var(--workspace-leaf-gap);
    padding: 0 !important;
  }
}
.workspace-leaf {
  padding: 0 var(--workspace-leaf-gap) 0 0 !important;
}
.mod-right-split .workspace-leaf {
  padding: 0;
}

/* Workspace leaf content is moved up behind the header, 
so that panes may have styles per type. */
.workspace-tabs {
  & .workspace-leaf {
    & .workspace-leaf-content {
      padding-top: var(--workspace-header-size);
    }
  }
}

/**************************************/
/*  Workspace Tab Header              */
/**************************************/
.workspace-tabs {
  background-color: var(--surround-bg);
}
.workspace-tab-header-container {
  z-index: 10;
  position: absolute;
  inset: 0;
  margin-top: var(--workspace-leaf-gap);
  padding: 0;
  height: var(--workspace-header-size) !important;
  /* background-color: var(--background-primary) !important; */
  background-color: transparent !important;
  border-bottom: 2px solid var(--text-faint) !important;

  &:not(:hover) .workspace-tab-header:not(.is-active) {
    opacity: 0.1;
    transition: opacity 0.25s ease-in-out;
  }

  & .workspace-tab-container-inner {
    /* Center icons */
    /* margin: 0 auto; */
    /* Move active icon left, others right */
    display: flex;
    flex-direction: row;
    width: 100%;
    & .workspace-tab-header.is-active {
      order: -1;
      flex: 2 0 auto;
    }
    & .workspace-tab-header:not(.is-active) {
      flex: 0 0 auto;
    }
  }

  & .workspace-tab-header {
    color: var(--text-faint) !important;
    cursor: pointer;

    &:hover {
      color: var(--surround-hover);
    }

    &.is-active {
      background-color: transparent !important;
      color: var(--text-normal) !important;
      margin: 4px;
      border-radius: 5px;
      cursor: grab;

      & .workspace-tab-header-inner {
        padding: calc((var(--workspace-header-size) - 40px)) 12px !important;
      }
    }

    & .workspace-tab-header-inner {
      padding: calc((var(--workspace-header-size) - 36px)) 12px !important;
    }
  }
}

/* Remove tab header bookends */
.workspace-tab-container-before,
.workspace-tab-container-after {
  display: none;
}
.workspace-tab-container-before.is-before-active,
.workspace-tab-header.is-before-active,
.workspace-tab-header.is-after-active,
.workspace-tab-container-after.is-after-active {
  display: none;
}
.workspace-tab-container-before.is-before-active .workspace-tab-header-inner,
.workspace-tab-container-after.is-after-active .workspace-tab-header-inner,
.workspace-tab-header.is-before-active .workspace-tab-header-inner,
.workspace-tab-header.is-after-active .workspace-tab-header-inner {
  display: none;
}

/**************************************/
/*  view header bar                   */
/**************************************/
.view-header {
  margin-top: 8px;
  height: var(--workspace-header-size) !important;
  background-color: var(--background-primary) !important;
  /* border: none !important; */

  &:not(:hover) .view-actions {
    opacity: 0.1;
    transition: opacity 0.25s ease-in-out;
  }

  & .view-header-icon,
  & .view-actions {
    padding: calc((var(--surround-size) - 24px) / 2) 10px !important;
  }

  & .view-header-icon {
    color: var(--background-secondary-alt);
  }

  & .view-header-title-container {
    height: var(--surround-size) !important;
    line-height: var(--surround-size) !important;

    &:after {
      /* background: linear-gradient(to right, transparent, var(--red)) !important; */
      background: none !important;
      top: 0;
      right: 0;
      bottom: 3px;
      height: auto !important;
    }

    & .view-header-title {
      line-height: var(--surround-size) !important;
      color: var(--background-secondary-alt);
      font-size: 16px;
      font-weight: 600;
    }
  }

  & .view-actions {
    & .view-action {
      color: var(--surround-muted);

      &:hover,
      &.is-active {
        color: var(--surround-hover);
      }
    }
  }
}

/* Active view */
.workspace-leaf.mod-active {
  & .view-header {
    border-bottom: 2px solid var(--ef_blue) !important;

    & .view-header-icon {
      color: var(--ef_blue);
    }

    & .view-header-title {
      color: var(--ef_blue);
    }

    & .view-actions {
      & .view-action {
        color: var(--surround-muted);

        &:hover,
        &.is-active {
          color: var(--surround-hover);
        }
      }
    }
  }
}

.view-content {
  height: calc(100% - var(--workspace-header-size));
}
