/**************************************/
/*  workspace-leaves                  */
/**************************************/
.workspace-leaf {
  & .workspace-leaf-content {
    border-radius: 0;
  }
}

/*  ----------------------------------------------- */
/*  Gaps between workspaces.

    Horizontal:
    Don't add gap on first
    https://stackoverflow.com/questions/2717480/css-selector-for-first-element-with-class/8539107#8539107 */

/* Sidebars */
.workspace-split {
  & > .workspace-tabs {
    & .workspace-leaf {
      margin-top: 0;
      padding: 0 !important;
    }
  }
}
.workspace-split {
  & > .workspace-tabs ~ .workspace-tabs {
    & .workspace-tab-header-container {
      margin-top: var(--workspace-leaf-gap);
    }
    & .workspace-leaf {
      margin-top: var(--workspace-leaf-gap);
    }
  }
}

/* Content panes */
.workspace-split {
  & > .workspace-leaf {
    & .view-header {
      margin-top: 0;
    }
  }
}
.workspace-split {
  & > .workspace-leaf ~ .workspace-leaf {
    & .view-header {
      margin-top: var(--workspace-leaf-gap);
    }
  }
}

/* ----------------------------------------------- */
/* Right (vertical) gap */
.mod-left-split {
  padding-right: var(--workspace-leaf-gap);
}
.workspace-leaf {
  padding-right: var(--workspace-leaf-gap) !important;
}
/* But not on right sidebar */
.mod-right-split .workspace-leaf {
  padding-right: 0;
}

/* ----------------------------------------------- */
/* Workspace leaf content is moved up behind the header, 
so that panes may have styles per type. */
.workspace-tabs {
  & .workspace-leaf {
    & .workspace-leaf-content {
      padding-top: var(--workspace-header-size);

      /* Set up pseudo element for tab name */
      &::after {
        position: absolute;
        top: 0;
        left: 48px;
        line-height: var(--surround-size) !important;
        color: var(--text-muted);
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}

/**************************************/
/*  Workspace Tab Header              */
/**************************************/
.workspace-tabs {
  background-color: var(--surround-bg);
}
.workspace-tab-header-container {
  /* Move header over leaf content, so that per-type styling
  to the content will show under header. */
  z-index: 1;
  position: absolute;
  inset: 0;
  padding: 0;
  height: var(--workspace-header-size) !important;
  background-color: transparent !important;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1) !important;

  &:not(:hover) .workspace-tab-header:not(.is-active) {
    opacity: 0.1;
    transition: opacity 0.25s ease-in-out;
  }

  & .workspace-tab-container-inner {
    /* Move active icon left, others right */
    display: flex;
    flex-direction: row;
    width: 100%;
    & .workspace-tab-header.is-active {
      order: -1;
      flex: 2 0 auto;
    }
    & .workspace-tab-header:not(.is-active) {
      order: 1;
      flex: 0 0 auto;
    }

    & .workspace-tab-header-inner-icon {
      margin: auto 0;
      & svg {
        display: block;
      }
    }
  }

  & .workspace-tab-header {
    color: var(--text-faint) !important;
    background-color: transparent !important;
    cursor: pointer;

    &:hover {
      color: var(--surround-hover);
    }

    &.is-active {
      color: var(--text-muted) !important;
      margin: 4px;
      border-radius: 5px;
      cursor: grab;

      & .workspace-tab-header-inner {
        padding: calc((var(--workspace-header-size) - 40px)) 12px !important;
      }
    }

    & .workspace-tab-header-inner {
      padding: calc((var(--workspace-header-size) - 36px)) 12px !important;
    }
  }
}

/* Remove tab header bookends */
.workspace-tab-container-before,
.workspace-tab-container-after {
  display: none;
}
.workspace-tab-header.is-before-active .workspace-tab-header-inner,
.workspace-tab-header.is-after-active .workspace-tab-header-inner {
  background-color: transparent !important;
}

/**************************************/
/*  view header bar                   */
/**************************************/
.view-header {
  height: var(--workspace-header-size) !important;
  background-color: var(--background-primary) !important;
  /* border: none !important; */

  &:not(:hover) .view-actions {
    opacity: 0.1;
    transition: opacity 0.25s ease-in-out;
  }

  & .view-header-icon,
  & .view-actions {
    padding: calc((var(--surround-size) - 24px) / 2) 10px !important;
  }

  & .view-header-icon {
    color: var(--background-secondary-alt);
  }

  & .view-header-title-container {
    height: var(--surround-size) !important;
    line-height: var(--surround-size) !important;

    &:after {
      /* background: linear-gradient(to right, transparent, var(--red)) !important; */
      background: none !important;
      top: 0;
      right: 0;
      bottom: 3px;
      height: auto !important;
    }

    & .view-header-title {
      line-height: var(--surround-size) !important;
      color: var(--background-secondary-alt);
      font-size: 16px;
      font-weight: 600;
    }
  }

  & .view-actions {
    & .view-action {
      color: var(--surround-muted);

      &:hover,
      &.is-active {
        color: var(--surround-hover);
      }
    }
  }
}

/* Active view */
.workspace-leaf.mod-active {
  & .view-header {
    border-bottom: 2px solid var(--ef_blue) !important;

    & .view-header-icon {
      color: var(--ef_blue);
    }

    & .view-header-title {
      color: var(--ef_blue);
    }

    & .view-actions {
      & .view-action {
        color: var(--surround-muted);

        &:hover,
        &.is-active {
          color: var(--surround-hover);
        }
      }
    }
  }
}

.view-content {
  height: calc(100% - var(--workspace-header-size));
}
