/* Gaps between workspaces. */
.mod-left-split {
  padding: 0 8px 0 0;
}
.workspace-leaf {
  padding: 0 8px 0 0 !important;
}
.mod-right-split .workspace-leaf {
  padding: 0;
}

/**************************************/
/*  Workspace Tab Header              */
/**************************************/
.workspace-tab-header-container {
  height: var(--surround-size) !important;

  & .workspace-tab-header {
    color: var(--surround-icon);

    &.is-active {
      background-color: transparent !important;
      border-bottom: 3px solid var(--surround-accent) !important;
      color: var(--surround-icon-accent);
    }

    & .workspace-tab-header-inner {
      padding: calc((var(--surround-size) - 36px)) 12px !important;
    }
  }
}

/* Hide tab header bookends */
.workspace-tab-container-before.is-before-active,
.workspace-tab-header.is-before-active,
.workspace-tab-header.is-after-active,
.workspace-tab-container-after.is-after-active {
  background-color: transparent !important;
}

/**************************************/
/*  view header bar                   */
/**************************************/
.view-header {
  height: var(--surround-size) !important;
  background-color: transparent !important;
  border: none !important;

  & .view-header-icon,
  & .view-actions {
    padding: calc((var(--surround-size) - 24px) / 2) 10px !important;
  }

  & .view-header-icon {
    color: var(--surround-icon);
  }

  & .view-header-title-container {
    height: var(--surround-size) !important;
    line-height: var(--surround-size) !important;

    &:after {
      /* background: linear-gradient(to right, transparent, var(--red)) !important; */
      background: none !important;
      top: 0;
      right: 0;
      bottom: 3px;
      height: auto !important;
    }

    & .view-header-title {
      line-height: var(--surround-size) !important;
      color: var(--surround-normal);
    }
  }

  & .view-actions {
    & .view-action {
      color: var(--surround-icon-muted);

      &:hover,
      &.is-active {
        color: var(--surround-icon-hover);
      }
    }
  }
}

/* Active view */
.workspace-leaf.mod-active {
  & .view-header {
    border-bottom: 3px solid var(--surround-accent) !important;

    & .view-header-icon {
      color: var(--surround-icon-accent);
    }

    & .view-header-title {
      color: var(--surround-accent);
    }
  }
}
