/***************************************/
/*         Code block in  Preview      */
/***************************************/
/* code blocks in preview */
pre code {
  font-family: var(--font-monospace) !important;
  font-size: var(--font-size-code) !important;
  padding: 6px !important;
  line-height: normal;
  display: block;
  color: var(--code-block) !important;
}

/* padding of code blocks in preview */
.markdown-preview-view pre {
  padding: 0px !important;
}

/* font-size of in-line block for preview */
.markdown-preview-view code {
  font-size: 90%;
  line-height: 1.7;
}

/* in-line block for preview */
code {
  color: var(--inline-code) !important;
  bottom: 0px !important;
}

/* remove the shadow that typically affect light mode */
.theme-dark code[class*='language-'],
.theme-dark pre[class*='language-'],
.theme-light code[class*='language-'],
.theme-light pre[class*='language-'] {
  text-shadow: none !important;
  color: var(--text-faint) !important;
}

.theme-light code[class*='language-'],
.theme-light pre[class*='language-'] {
  background-color: var(--background-primary-alt);
}
.theme-light .token.operator,
.theme-light .token.entity,
.theme-light .token.url,
.theme-light .language-css .token.string,
.theme-light .style .token.string {
  background-color: transparent;
}

.theme-dark .token.function,
.theme-dark .token.class-name,
.theme-light .token.function,
.theme-light .token.class-name {
  color: #dd4a68;
}

.theme-light .token.comment,
.theme-light .token.prolog,
.theme-light .token.doctype,
.theme-light .token.cdata {
  color: slategray;
}
.theme-light .token.punctuation {
  color: #f8f8f2;
}
.theme-light .token.namespace {
  opacity: 0.7;
}
.theme-light .token.property,
.theme-light .token.tag,
.theme-light .token.constant,
.theme-light .token.symbol,
.theme-light .token.deleted {
  color: #f92672;
}
.theme-light .token.boolean,
.theme-light .token.number {
  color: #ae81ff;
}
.theme-light .token.selector,
.theme-light .token.attr-name,
.theme-light .token.string,
.theme-light .token.char,
.theme-light .token.builtin,
.theme-light .token.inserted {
  color: #a6e22e;
}
.theme-light .token.operator,
.theme-light .token.entity,
.theme-light .token.url,
.theme-light .language-css .token.string,
.theme-light .style .token.string,
.theme-light .token.variable {
  color: #f8f8f2;
}
.theme-light .token.atrule,
.theme-light .token.attr-value {
  color: #e6db74;
}
.theme-light .token.keyword {
  color: #66d9ef;
}
.theme-light .token.regex,
.theme-light .token.important {
  color: #fd971f;
}
.theme-light .token.important,
.theme-light .token.bold {
  font-weight: bold;
}
.theme-light .token.italic {
  font-style: italic;
}
.theme-light .token.entity {
  cursor: help;
}

/***************************************/
/*       Code block in Editor          */
/***************************************/
/* in-line block for editor */
.cm-s-obsidian
  span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight),
.cm-s-obsidian span.cm-inline-code,
.cm-s-obsidian span.cm-inline-code.cm-hmd-indented-code,
.cm-s-obsidian
  span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code) {
  background-color: var(--pre-code-bg);
  color: var(--inline-code) !important;
  bottom: 0px !important;
  padding: 2px !important;
}

/* Editor CodeBlock TEXT Appearance */
.cm-s-obsidian pre.HyperMD-codeblock {
  font-family: var(--font-monospace) !important;
  font-size: var(--font-size-code) !important;
  padding: 1px !important;
  display: block;
  color: var(--code-block) !important;
  font-weight: 500;
}

/*remove the border of codeblock in editor */
.HyperMD-codeblock-bg {
  border: 0px !important;
}

.cm-s-obsidian div.HyperMD-codeblock-bg {
  background-color: var(--pre-code-bg);
}

/*an active line highlight in vim normal mode 
.cm-fat-cursor .CodeMirror-activeline .CodeMirror-linebackground{
  background-color: var(--text-selection) !important;
} */

/*if you want the highlight to present in both normal and insert mode of vim*/
/* .CodeMirror-activeline .CodeMirror-linebackground {
  background-color: var(--text-selection) !important;
} */
