@import '610_graph.css';
@import '620_search.css';
@import '630_settings.css';
@import '640_starred.css';
@import '650_file-explorer.css';
@import '660_sync.css';

.workspace-leaf-content[data-type='outline'] {
  /* background-color: var(--ef_bg_red) !important; */

  &::after {
    content: 'Outline';
  }
}

.workspace-leaf-content[data-type='outgoing-link'] {
  /* background-color: var(--ef_bg_red) !important; */

  &::after {
    content: 'Outgoing Links';
  }
}

.workspace-leaf-content[data-type='backlink'] {
  /* background-color: var(--ef_bg_red) !important; */

  &::after {
    content: 'Backlinks';
  }
}

.workspace-leaf-content[data-type='tag'] {
  background-color: var(--ef_bg_green) !important;

  &::after {
    content: 'Tags';
  }
}
