.modal.mod-sync-history {
  & .modal-content {
    padding: 0;

    & .sync-history-list-container {
      flex-basis: 240px;
    }
    & .sync-history-content-container {
      padding: 48px 48px 24px 48px;
    }
  }
}

.sync-file-tree-container {
  font-size: 14px;
  & .file-tree-item {
    padding: 0;
    & .file-tree-item-header {
      &:hover {
        background-color: var(--background-modifier-hover);
      }

      &.is-selected {
        background-color: transparent;
        &:hover {
          background-color: var(--background-modifier-hover);
        }
      }

      & .file-tree-item-checkbox {
      }
    }
  }
}
